{%load static%}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> P.D.P.T Demo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    
        <!-- CSS here -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        
        <link rel="stylesheet" href="{% static '/assets/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/flaticon.css'%}">
        <link rel="stylesheet" href="{% static '/assets/css/progressbar_barfiller.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/gijgo.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/animated-headline.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/themify-icons.css'%}">
        <link rel="stylesheet" href="{% static '/assets/css/slick.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static '/assets/css/style.css' %}" type="text/css" />
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<meta charset="UTF-8">
</head>
<body>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header ">
                <div class="header-top d-none d-lg-block">
                    <div class="container-fluid">
                        <div class="col-xl-12">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="header-info-left d-flex">
                                    <ul>     
                                         <li>Telefone: 923415560 </li>
                                        <li>Email: info@pdpt-ao.com</li>
                                    </ul>
                                    <div class="header-social">    
                                        <ul>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a  href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                            <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="header-info-right d-flex align-items-center">
                                    <div class="select-this">
                                        <form action="#">
                                            <div class="select-itms">
                                                <select name="select" id="select1">
                                        <option value="">Portugues</option>
                                                    <option value="">English</option>
                                                    <option value="">Espanhol</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <ul class="contact-now">     
                                        <li><a href="#">Assine Agora</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="index.html"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li><a href="{% url 'index' %}">INÍCIO</a></li>
                                                <li><a href="{% url 'about' %}">QUEM SOMOS</a>
                                                    <ul class="submenu">
                                                                     
                    <li><a href="{% url 'organograma' %}">ORGANIGRAMA</a></li>
                  <li><a href="{% url 'membros_fundadores' %}">MEMBROS FUNDADORES</a></li>
                  <li><a href="{% url 'missao' %}">MISSÃO</a></li>
                  <li><a href="{% url 'visao' %}">VISÃO</a></li>
                  <li><a href="{% url 'valores' %}">VALORES</a></li>
                  <li><a href="{% url 'vantagens' %}">VANTAGENS DE PERTENCER À P.D.P.T</a></li>
                                                    </ul>
                                                </li>
                                                
                                                <li><a href="{% url 'galeria' %}">MULTIMÉDIA</a>
                                                <ul class="submenu">
                                                                     
                    <li><a href="{% url 'galeria' %}">GALERIA DE FOTOS</a></li>
                  
                  
                  </li>
                                                    </ul>
                                                
                                                
                                                  
                                                <li><a href="{% url 'contact' %}">CONTACTOS</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <!-- Header-btn -->
                                    <div class="header-right-btn d-none d-lg-block ml-20">
                                        <a href="contact.html" class="btn header-btn">Donativos</a>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- header end -->
    <main>
    <!--? Hero Start -->
       <div class="container" style="margin-top: 5rem;">
            <div class="row">
                <div class="col-lg-10 col-md-10">
                    
                    
                </div>
                <div class="col-lg-10 col-md-12">
                    <!-- about-img -->
                     <a href="#"></a>

     <p style="font-size: 2rem;">A Associação PDPT através da atracção de crianças e jovens empreendedores, pretende incentivá-los a
fazerem parte, desde cedo, do tecido empresarial, técnico, cientifico e intelectual, cultural e artistico estimulando o seu conhecimento e formação pessoal.
A Associação PDPT, através de programas como o PDPT - Talent Search, bem como no âmbito de outras
iniciativas, como intercâmbio de experiências, bolsas de estudo e estágios, nacionais e internacionais, promoverá o desenvolvimento de crianças e jovens empreendedores, no caminho de prosperidade e tecnologia.
Uma das frases chave para este modelo será “PDPT - Talent Search -Transforma a tua Província. Estimula
o teu talento junto dos parceiros!”, desenvolvendo a vontade indiscutível em promover novos centros de
conhecimento e diversificar a oferta.
Para além disso, a Associação PDPT pretende desenvolver projectos de promoção de jovens mulheres, contribuindo para a sua capacitação, contrariando e prevenindo a exclusão destas.
De igual modo, promover-se-á a igualdade de oportunidades para que um maior número de raparigas e mulheres sejam protagonistas de mudança para o desenvolvimento do nosso país e do mundo.
Porque acreditamos na intervenção social e no trabalho em rede, procurar-se-á funcionar em parcerias e
em complementaridade com outras instituições públicas e privadas, nacionais e internacionais, entre outras:
Institutos, Associações, Fundações, Universidades, Escolas, Bibliotecas, ONGs, amigos e voluntários.
Acreditamos também que o estreitar das relações entre gerações contribuem para o desenvolvimento dos
países, e que o intercâmbio entre crianças e jovens de diferentes origens e nacionalidades enriquece os
países e ajuda a desenvolver sentimentos de empatia e tolerância.

 </p>

                       
                    </div>
        
    </section>






   
    <!-- Hero End -->
    <!--? Services Area Start -->
    <!-- Services Area End -->
    <!--? About Law Start-->
    <!-- About Law End-->
    <!-- Want To work -->
    <!-- Want To work End -->
    <!--? Testimonial Start -->
    <!-- Testimonial End -->

    <!--? Count Down Start -->
    </main>
    <footer style="background-color: #050A30;">
        <div class="footer-wrapper section-bg2" data-background="{%static 'assets/img/gallery/footer_bg.png'%}">
            <!-- Footer Top-->
            <div class="footer-area footer-padding">
                <div class="container">
                    <div class="row d-flex justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <div class="footer-logo mb-20">
                                        <a href="index.html"><img src="{% static 'assets/img/logo/logo2_footer.png' %}" alt=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Contact Info</h4>
                                    <ul>
                                        <li>
                                            <p>Endreço :Ingombotas, Ilha do Cabo, 
Rua Mortala  Mohamed, Largo do Pescador, Nº 8 Luanda - Angola.</p>
                                        </li>
                                        <li><a href="#">Phone : +8880 44338899</a></li>
                                        <li><a href="#">Email : info@pdpt.com</a></li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                    <h4>Links Importantes</h4>
                                    <ul>
                                        <li><a href="#"> Acompanhar Projectos</a></li>
                                        <li><a href="#">Contacte-nos</a></li>
                                        <li><a href="#">Testemunho</a></li>
                                        <li><a href="#">Quem somos</a></li>
                                        <li><a href="#">Suporte</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                            <div class="single-footer-caption mb-50">
                                <div class="footer-tittle">
                                </div>
                                <!-- Form -->
                                <div class="footer-form" >
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                                        method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="Email Address"
                                            class="placeholder hide-on-focus" onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = ' Email Address '">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit"
                                                class="email_icon newsletter-submit button-contactForm"><img src="assets/img/gallery/form.png" alt=""></button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer-bottom -->
            <div class="footer-bottom-area">
                <div class="container">
                    <div class="footer-border">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="col-xl-10 col-lg-9 ">
                                <div class="footer-copy-right text-center">
                                    <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> Todos Direitos Reservados | Muximatic | Jonatas Ferreira 
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-3">
                                <div class="footer-social f-right">
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a  href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fas fa-globe"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll Up -->
    <div id="back-top" >
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>



    <script src="{% static '/assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static '/assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static '/assets/js/popper.min.js' %}"></script>
    <script src="{% static '/assets/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static '/assets/js/jquery.slicknav.min.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static '/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static '/assets/js/slick.min.js' %"}></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static '/assets/js/wow.min.js' %}"></script>
    <script src="{% static '/assets/js/animated.headline.js' %}"></script>
    <script src="{% static '/assets/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static '/assets/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static '/assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static '/assets/js/jquery.sticky.js' %}"></script>
    <!-- Progress -->
    <script src="{% static '/assets/js/jquery.barfiller.js' %}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static '/assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static '/assets/js/waypoints.min.js' %}"></script>
    <script src="{% static '/assets/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static '/assets/js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static '/assets/js/contact.js' %}"></script>
    <script src="{% static '/assets/js/jquery.form.js' %}"></script>
    <script src="{% static '/assets/js/jquery.validate.min.js' %}"></script>
    <script src="{% static '/assets/js/mail-script.js' %}"></script>
    <script src="{% static '/assets/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static '/assets/js/plugins.js' %}"></script>
    <script src="{% static '/assets/js/main.js' %}"></script>
    
    </body>
</html>